

@page print {
  body{
      width: 21cm;
      height: 29.7cm;
      margin: 30mm 45mm 30mm 45mm; 
      /* change the margins as you want them to be. */
 } 
}

.tasklistrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}
.tasklist {
  margin: 5pt;
  border-style: solid;
  border-color: lightgray;
  padding: 5pt;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: right;
  page-break-before: always;
  align-items: flex-start;
}

.medlist {
  margin: 5pt;
  padding: 5pt;
}

.date {
  margin: 10pt;
  margin-left: 30pt;
  font-weight: bold;
  font-size: larger;
}

.daterow {
  display: flex;
  flex-direction: left;
  justify-content: space-between;
}

.panel {
  width: 100vw;
  min-width: 100vw;
}

.mooddiary,.mooddiary p {
  border-style: none;
}

.mooddiaryblanks {
  margin: 10pt;
  border-style: solid;
  /* min-height: 120pt; */
  flex-wrap: auto;
  border-color: lightgray;
  
}

.mooddiaryblanks p {
  border-color: lightgray;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2.4pt;
}

.mooddiaryblanks p.last{
  margin-bottom: 0;
}